ALERT_EMAIL_TO=whdidtn200@icloud.com
ALERT_MAIL_ACCOUNT=whdidtn200@icloud.com
ALERT_SUBJECT_PREFIX=[MALT Blog]
WORKFLOW_REPO=whdidtn200/whdidtn200.github.io
WORKFLOW_FILE=daily-arxiv-publish.yml
WORKFLOW_EVENT=schedule
WORKFLOW_TIMEZONE=Asia/Seoul
